<h2>Detalhe do Usuário</h2>

@if(loading){
  <div>Loading...</div>
}

@if (idInvalido){
  <h2>Favor inserir um ID válido.</h2>
}

@if (usuario && !idInvalido && !loading){
  <div>
    <p><strong>Nome:</strong> {{ usuario!.name }}</p>

    <p><strong>Email:</strong> {{ usuario!.email }}</p>
    <p><strong>Telefone:</strong> {{ usuario!.phone }}</p>
    <p><strong>Website:</strong> {{ usuario!.website }}</p>
    <p><strong>Cidade:</strong> {{ usuario!.address?.city }}</p>
    <p><strong>Empresa:</strong> {{ usuario!.company?.name }}1</p>

  </div>
}

